.idea
.vscode

package-lock.json
node_modules
/server/config/credentials.js
/server/config/default.json
/server/data/ignore/dummyEmails.js
/server/data/ignore/dummyEmailsCleaned.js
/server/scratch.js
/server/data/ignore/
/server/config/production.json
/server/config/development_env.sh
/server/config/production_env.sh
/server/.ebextensions/https-instance.config
