#current-filters-table {
    th {
        padding: .5em;
        text-align: center;
        font-weight: bold;
    }
    td {
        padding: 0;
    }
    .icon-button {
        padding: .25em 1.5em;
    }
    .label {
        //padding: .34rem;
        padding: .34em;
    }
}
