#current-filters-table {
    td {
        padding: 0;
    }
    .icon-button {
        padding: .25rem 1.5rem;
    }
    .label {
        padding: .34rem;
    }
    .list-btn {
        &:hover {
            cursor: pointer;
        }
    }
}
