#filters-modal {
    @media (min-width: 1600px) {
        .modal-fluid {
            width: 1600px;
        }
    }
    
    .modal-content {
        padding: 0 1.5em;
    }
    .modal-body {
        padding: .16em 0;
    }
    
    
    .col {
        text-align: center;
        padding: .3em;
    }
    
    .labels-column {
        font-size: .8em;
        li {
            padding: .25em .5em;
        }
    }
    
    #inputs-row {
        margin-top: 1em;
        border-top: 1px solid rgb(233, 236, 239);
        .input-filter {
            width: 100%;
        }
        button {
            font-weight: bold;
            text-transform: none;
        }
    }
    
    .modal-footer {
        padding: .25em;
        button {
            font-weight: bold;
            padding: .5em 1em;
            font-size: .88em;
            text-transform: none;
        }
    }
    
}
