#filters-modal {
    @media (min-width: 1600px) {
        .modal-fluid {
            width: 1600px;
        }
    }
    
    .modal-content {
        padding: 0 1.5rem;
    }
    .modal-body {
        padding: .16rem 0;
    }
    
    
    .col {
        text-align: center;
        padding: 5px;
    }
    
    .labels-column {
        font-size: .8rem;
        li {
            padding: .25rem .5rem;
        }
    }
    
    #inputs-row {
        margin-top: 1rem;
        border-top: 1px solid rgb(233, 236, 239);
        .input-filter {
            width: 100%;
        }
        button {
            font-weight: bold;
            text-transform: none;
        }
    }
    
    .modal-footer {
        padding: .25rem;
        button {
            font-weight: bold;
            padding: .5rem 1rem;
            font-size: .88rem;
            text-transform: none;
        }
    }
    
}
