#new-filter-modal {
    .modal-body {
        padding: 2px 0;
    }
    .modal-footer {
        padding: 4px;
    }
    
    .col {
        //margin: 0 auto;
        text-align: center;
    }
    
    .btn1 {
        height: auto !important;
    }
}
