@import '/variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Open Sans", Arial, sans-serif;
}

body {
    background-color: $background-color;
}

.module {
    float: left;
    margin: 1rem;
}




//@media (min-width: 1200px) {
//    /*
//    If screen is greater than or equal to
//    */
//    html {
//        font-size: 62.5%;
//    }
//
//}
//
